@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Nunito';
		font-weight: 400;
		src: url('$lib/assets/fonts/nunito-v23-latin-regular.woff2') format('woff2');
	}
	:root {
		
	}
}